version: "3.9"

services:
  api:
    build: .
    container_name: node_api
    restart: always
    env_file:
      - .env
    environment:
      NODE_ENV: production
      REDIS_HOST: redis
      REDIS_PORT: 6379
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    ports:
      - "8080:8080"
    depends_on:
      - redis
    deploy:
      resources:
        limits:
          memory: 512M
  redis:
    image: redis:7-alpine
    container_name: redis_server
    restart: always
    command: >
      redis-server
      --appendonly yes
      --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis_data:/data

volumes:
  redis_data:
