version: "3.9"

services:
  api:
    build: .
    container_name: node_api
    volumes:
      - ./:/app
    restart: always
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - redis
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379

  redis:
    image: redis:alpine
    container_name: redis_server
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
