version: "3.9"

services:
  api:
    build: .
    container_name: node_api
    restart: always
    env_file:
      - .env
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports:
      - "8080:8080"
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: redis_server
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
